[submodule "external/pagmo"]
	path = external/pagmo
	url = https://github.com/jonas-s-s-s/pagmo2
[submodule "external/Eigen3"]
	path = external/Eigen3
	url = https://github.com/SmartCGMS/Eigen3.git
[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
